{% extends 'base_page.html'%}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/contacts_page.css' %}">
{% endblock %}


{% block title %}
Контакты
{% endblock %}


{% block content %}

<main id="main">
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <!--<h1 class="text-light"><a href="index.html"><img src="/static/assets/img/profile/avatar1.jpg" alt=""-->
                <!--class="img-fluid"></a>-->
                <a href=""><span
                        class="letter">РОСАТОМ АДАПТАЦИЯ</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
            </div>

             <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown"><a href="{% url 'home'%}"><span>Компания</span>
                    <i class="bi bi-chevron-down"></i></a>
                    <ul style="
                background: rgba(255, 255, 255, 0.95);
                border-radius: 10px 10px 10px 10px;
                font-size:8px">
                        <li><a href="{% url 'home'%}">Уровень 1 / Основные положения</a></li>
                        <li><a href="#">Уровень 2 / Задачи и команда<i class="bi bi-lock-fill"></i></a></li>
                        <li><a href="#">Уровень 3 / Бизнес-процессы<i class="bi bi-lock-fill"></i></a></li>
                        <li><a href="#">Уровень 4 / Завершение<i class="bi bi-lock-fill"></i></a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="{% url 'my_team'%}">Моя команда</a></li>
                <li><a class="nav-link scrollto" href="{% url 'contacts'%}">Контакты</a></li>
                <li><a class="nav-link scrollto" href="{% url 'logout'%}?next=/home/">Выход</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        </div>
    </header><!-- End Header -->


    <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Наши контакты</h2>
                <p>Если у вас возникли какие-то вопросы или предложения, пожалуйста, сообщите нам</p>
            </div>

            <div class="row">


                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-envelope"></i>
                        <h3>Эл.почта</h3>
                        <p>sotrudnik_help@rosatom.ru</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="bx bx-phone-call"></i>
                        <h3>Телефон</h3>
                        <p>+7 (499) 261-13-20</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="bx bx-map"></i>
                        <h3>Новорязанская ул., 8 а, Москва, 107078</h3>
                        <p>Российский профсоюз работников атомной энергетики и промышленности</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-lg-6">
                    <form action="/static/assets/send.php" method="post" role="form" class="php-email-form">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя"
                                       required>
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Ваш e-mail" required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Тема"
                                   required>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Сообщение"
                                      required></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="text-center">
                            <button type="submit">Отправить</button>
                        </div>
                    </form>

                </div>

                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.088521099218!2d37.62189713203852!3d55.7395909094661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b01ff23f159%3A0xd69ea5f843ae97c!2z0KDQvtGB0LDRgtC-0Lw!5e0!3m2!1sru!2sru!4v1614499042417!5m2!1sru!2sru" frameborder="0" style="border:0; width: 100%; height: 369px;" allowfullscreen></iframe>
                </div>

            </div>

        </div>



    </section><!-- End Contact Section -->
</main><!-- End #main -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- ======= Footer ======= -->
<footer id="footer">
<div class="footer-top">

</div>
</footer><!-- End Footer -->


{% endblock %}